<div class="jumbotron" style="background: url('/assets/new/wall-front.png') center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 grid-input">
        <h1 class="display-5">Find people you need, backed by people you trust.</h1>
        <p>Need something done? Just ask the crowd.</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="What Do you need help with">
          <i class="fa fa-search"></i>
          <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Search</button>
        </span>
        </div>
        <p><a class="" href="#" role="button">Or Signup as a Pro > </a></p>
      </div>
      <div class="col-md-6 grid-icon">
        <img class="icon" src="/assets/new/intro-character.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Type 1 -->
  <section id="type-1">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="title">How it works</h2>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="item">
          <img class="item-icon" src="/assets/icons1.jpeg" alt="clock">
          <h3 class="item-title">
              1. Post a job
            </h3>
          <p>Post on ZippyCrowd what you're looking for, and share! </p>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="item">
          <img class="item-icon" src="/assets/icons2.jpeg" alt="clock">
          <h3 class="item-title">
              2. Choose the right Pro
            </h3>
          <p>Review crowd referals, and choose someone you trust.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="item">
          <img class="item-icon" src="/assets/icons3.jpeg" alt="clock">
          <h3 class="item-title">
              3. Hire Direct 
            </h3>
          <p>make your own arrangements. No fees. No mmiddleman.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Type 1 -->
</div>

<!-- Type-09 -->
<section id="type-09">
  <div class="container">
    <div class="title-content">
      <div class="title-page">
        <h4>Thousand of amazing jobs are created everyday</h4>
        <p>jobs big or small all require someone you can trust. From hairdressers, babysitters, pet sitters, designers, accountants, tradies to tutors, co-founders, devs and more.</p>
      </div>
    </div>
    <div class="row justify-content-center group-img" style="margin-bottom: 30px;">
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-1">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_7.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Business Service</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-1">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_8.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Tutor & Translations</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-1">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_9.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Design & Media</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-1">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_10.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Websites, Apps & Tech</a>
            </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center group-img">
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-2">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_11.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Events & Hospitality</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-2">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_12.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Health & Fitness</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-2">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_13.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Home & Renovations</a>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3 line-foot-2">
        <div class="card-boxs">
          <div class="img-card">
            <img src="assets/new/group_14.png">
          </div>
            <div class="line-title">
              <a href="javascript:void(0)" class="btn btn-default">Content & Social Media</a>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="link-job">      
        <a href="#" class="btn btn-default btn-link">Post a job</a>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section id="type-11">
    <h2 class="title">Meet Our Awesome Pros</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post-slide">
          <div class="post-img" style="background: url('/assets/thumb-1.jpg') center">
          </div>
          <div class="wrap-icons">
            <div class="left-icon">
              <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
              <span><i class="fa fa-users"></i><span>21</span> </span>
            </div>
            <div class="icons-text">
              <p class="name">Mark Anthony Reyes</p>
              <p class="city">City Name. Portugal</p>
              <a href="#x" class="skill">Graphic Design</a>
            </div>
          </div>
          <div class="post-review">
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum hic officia quaerat sapiente, vitae. </p>
            <p class="text-center">
              <button class="btn btn-danger">Hire Me</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post-slide">
          <div class="post-img" style="background: url('/assets/thumb-1.jpg') center">
          </div>
          <div class="wrap-icons">
            <div class="left-icon">
              <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
              <span><i class="fa fa-users"></i><span>21</span> </span>
            </div>
            <div class="icons-text">
              <p class="name">Mark Anthony Reyes</p>
              <p class="city">City Name. Portugal</p>
              <a href="#x" class="skill">Graphic Design</a>
            </div>
          </div>
          <div class="post-review">
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum hic officia quaerat sapiente, vitae. </p>
            <p class="text-center">
              <button class="btn btn-danger">Hire Me</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post-slide">
          <div class="post-img" style="background: url('/assets/thumb-1.jpg') center">
          </div>
          <div class="wrap-icons">
            <div class="left-icon">
              <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
              <span><i class="fa fa-users"></i><span>21</span> </span>
            </div>
            <div class="icons-text">
              <p class="name">Mark Anthony Reyes</p>
              <p class="city">City Name. Portugal</p>
              <a href="#x" class="skill">Graphic Design</a>
            </div>
          </div>
          <div class="post-review">
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum hic officia quaerat sapiente, vitae. </p>
            <p class="text-center">
              <button class="btn btn-danger">Hire Me</button>
            </p>
          </div>
        </div>
      </div>
      
  </section>
</div>
<!-- /container  -->
<div id="hired" class="get-hired" style="background: url(/assets/new/wall-front.png) center;">
  <div class="container-fluid">
     <div class="row">
       <div class="col-md-3 img-bg">
          <img src="assets/new/left.png">
       </div>
       <div class="col-md-6 text-bg">
         <h1 class="title">Skills pay the bills</h1>
         <p>Level Up Your Skills. Boost your career. Build your own business. Earn extra cash. Opportunities with ZippyCrowd are endless. Kick it up a notch, build your skills, stand out with your crowd!</p>
         <button class="btn btn-danger">Get Hired</button>
       </div>
       <div class="col-md-3 img-bg">
          <img src="assets/new/right.png">
       </div>
     </div>
  </div>
</div>
<!-- NEW -->
<div class="container">
<section id="type-11" class="from-crowd">
  <h2 class="title">Latest from the crowd</h2>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="post-slide">
        <div class="wrap-icons">
          <div class="post-img">
            <button class="btn btn-primary">I NEED</button>
            <div class="on"><small>Posted on June 15, 2016</small></div>
          </div>
          <div class="left-icon">
            <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
          </div>
          <div class="icons-text">
            <p class="name">Mark Anthony Reyes</p>
            <p class="city">City Name. Portugal</p>
          </div>
        </div>
        <div class="post-review">
          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae. </p>
          <p class="text-center">
            <button class="btn btn-danger">Hire Me</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="post-slide">
        <div class="wrap-icons">
          <div class="post-img">
            <button class="btn btn-primary">I NEED</button>
            <div class="on"><small>Posted on June 15, 2016</small></div>
          </div>
          <div class="left-icon">
            <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
          </div>
          <div class="icons-text">
            <p class="name">Mark Anthony Reyes</p>
            <p class="city">City Name. Portugal</p>
          </div>
        </div>
        <div class="post-review">
          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae. </p>
          <p class="text-center">
            <button class="btn btn-danger">Hire Me</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="post-slide">
        <div class="wrap-icons">
          <div class="post-img">
            <button class="btn btn-primary">I NEED</button>
            <div class="on"><small>Posted on June 15, 2016</small></div>
          </div>
          <div class="left-icon">
            <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
          </div>
          <div class="icons-text">
            <p class="name">Mark Anthony Reyes</p>
            <p class="city">City Name. Portugal</p>
          </div>
        </div>
        <div class="post-review">
          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae. </p>
          <p class="text-center">
            <button class="btn btn-danger">Hire Me</button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="post-slide">
        <div class="wrap-icons">
          <div class="post-img">
            <button class="btn btn-primary">I NEED</button>
            <div class="on"><small>Posted on June 15, 2016</small></div>
          </div>
          <div class="left-icon">
            <div class="icons" style="background: url('/assets/profile-sample1.jpg') center"></div>
          </div>
          <div class="icons-text">
            <p class="name">Mark Anthony Reyes</p>
            <p class="city">City Name. Portugal</p>
          </div>
        </div>
        <div class="post-review">
          <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae. </p>
          <p class="text-center">
            <button class="btn btn-danger">Hire Me</button>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="btn-joined">
        <a href="javascript:void(0)" class="btn btn-default btn-join">Join ZippyCrowd</a>
      </div>
    </div>

  </div>
</section>
</div>
<!-- END -->

<!-- Type 4-->
<section id="type-4">
  <div class="container">
    <h2 class="title">Fresh from the blog</h2>
    <div class="row justify-content-center">
      <% @blogs.first(4).each do |blog| %>
        <div class="card">
          <div class="img" style="background: url('<%= blog.image%>') center"></div>
          <div class="card-body">
          	<a href="http://blog.zippycrowd.com/<%= blog.slug %>" target="_blank">
	            <h4 class="card-title line">
	            	<%= simple_format(blog.title) %>
	            </h4>
            </a>
            <div class="card-text">
            	<%= truncate_html(blog.content, length: 180, omission: '...') %>
           	</div>
            <a href="javascript:void(0)" class="card-link fix-bottom">
            	<%= simple_format(blog.category) %>
           	</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- End Type 4 -->

<!-- Type 3 -->
  <section id="type-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 logo">
          <div class="item">
            <p class="description">As featured on:</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2 logo">
          <div class="item">
            <img class="partners-logo" src="assets/new/Bitmap11.png">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2 logo">
          <div class="item">
            <img class="partners-logo" src="assets/new/Bitmap10.png">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2 logo">
          <div class="item">
            <img class="partners-logo" src="assets/new/Bitmap9.png">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-2 logo">
          <div class="item">
            <img class="partners-logo" src="assets/new/Bitmap8.png">
          </div>
        </div>
      </div>
    </div>  
  </section>
  <!-- end type 3 -->

  <section id="type-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6 line">
        <div class="row">
          <div class="col-md-2 col-sm-2 img-grid">
            <span class="img"><img src="assets/new/zc_img.png"></span>
          </div>

          <div class="col-md-9 col-sm-9">
            <div class="title">
              <h3>Learn more about ZippyCrowd  <i class="icon ion-android-arrow-forward"></i></h3>
            </div>
            <div class="description">
              <p>Our team are more than happy to help you with any questions you might have. Shoot us an <span class="red-mark">email</span>,or
              <span class="red-mark">chat</span> to us. You can also check out our <span class="red-mark">Help Center</span> for more information.</p>
            </div>
          </div>  
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="row">
          <div class="col-md-2 col-sm-2 img-grid">
            <span class="img"><img src="assets/new/pro_img.png"></span>
          </div>

          <div class="col-md-9 col-sm-9">
            <div class="title">
              <h3>Recommend a Pro  <i class="icon ion-android-arrow-forward"></i></h3>
            </div>
            <div class="description">
              <p>Friend's recommendations are at the heart of making ZippyCrowd work. Help your friends get work and more business with ZippyCrowd.</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>  
</section>