@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Nunito');

/*FOOTER*/
footer{
    padding: 75px 0;
    ul{
        width: 20%;
        float: left;
        li {
            &:first-child{
                font-weight:900;
            }
            list-style: none;
        a{
            color: #444444;
        }
        }
    }
    .copy{
        margin: 15px 0;
    }
}
@media (max-width: 767px ){
    footer{
        ul{
            width: 100%;
        }
    }
}
/*/FOOTER*/

.get-hired{
    background-size: cover !important;
    background-color: red; 
}
#hired .text-bg {
    text-align: center;
    padding: 30px 10px;
}
#hired .text-bg .title {
    color: #fff;
    padding: 20px 0px;
    font-size: 25px;
}
#hired .text-bg p {
    color: #fff;
}
#hired .text-bg button {
    padding: 10px 50px;
    font-size: 20px;
}
#hired .img-bg {
    margin: 68px 0px 0px;
    text-align: center;
}
#hired .img-bg img {
    position: relative;
    max-height: 200px;
}

@media(max-width: 1024px) and (min-width: 950px){
    #hired .img-bg {
        margin: 70px 0px 0px;
    }
}
@media(max-width: 949px) and (min-width: 896px){
    #hired .img-bg {
        margin: 92px 0px 0px;
    }
}
@media(max-width: 895px){
    #hired .img-bg {
        margin: 92px 0px 0px;
    }
    #hired .img-bg img {
        width: 100%;
        max-height: 200px;
        height: 200px;
    }
}
@media(max-width: 767px){
    #hired .img-bg img {
        display: none;
    }
}

/*END*/

/*new*/
.jumbotron{
    padding-top:5rem;
    background-size: cover !important;
    color: #fff;
    padding-top: 180px;
    border-radius: 0;
    a{
        color: #fff;
    }
    p{
        padding: 10px 0;
    }
    h1{
        font-weight: 900;
    }
    .input-group{
    input{
        padding: 20px;
        height: 60px;
        font-size: 25px;
        padding-left: 50px;
    }
    i{
        position: absolute;
        left: 19px;
        z-index: 20;
        top: 17px;
        font-size: 24px;
        color: #c9c9c9;
    }
    button{
        padding: 0 22px;
        height: 60px;
        background: #ed4e6e;
        }
    }
    .icon{
        position: relative;
        right: -130px;
    }
}
@media(min-width:768px ){
.jumbotron{
    padding-top: 107px;
}
}

@media(max-width:768px ){
.jumbotron{
    .grid-input{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .grid-icon{
        display: none;
    }
  }
}


.navbar{
    .navbar-nav{
        .nav-item{
            margin: 0 15px;
            a{
                padding: 7px 25px;
                color: #fff;
            }
            .btn-outline-primary{
                border-color: #fff;
                &:hover{
                    background-color: #ffffff;
                    border-color: #ffffff;
                    color: #31b39a;
                };
            }
        }
    }
    &.scroll{
        background: #fff;
        box-shadow: 0 -1px 5px 1px #eaeaea;
        .nav-item a{
            color: #444444;
            &:hover{
                color:#000;
            }
        }
        .btn-outline-primary{
            background: #31b39a;
        }
    }
}
.btn{
    opacity:0.9;
    font-weight: bold;
    border:none !important;
    box-shadow: none !important;
    cursor: pointer;
    outline:none !important;
    &:hover{
        opacity:1;
    }
    &:focus{
        border:none !important;
        outline:none !important;
    }
}
@media (max-width: 767px){
    .navbar-toggler{
        background: #eaeaea;
    }
    .navbar-collapse{
        padding: 15px 0px;
    }
    .jumbotron {
        .icon{
            display: none;
        }
    .input-group{
        input{
            font-size: 12px;
        }
    }
    
}
}

/*NEW*/
#type-11.from-crowd{
    .post-slide{
        margin-bottom: 30px;
     .wrap-icons{
        border: none;
        .post-img{
            height: initial;
            button{
                background: #4a396e;
                padding: 8px 22px;
                margin-top: -20px;
            }
            .on{
                padding: 5px 0
            }
        }
         .icons{
            border: 0;
            width: 50px;
            height: 50px;
        }
        .left-icon{
            top: initial;
            width: initial;
        }
        .icons-text{
            margin-left: 56px;
            padding: 0;
            min-height: 52px;
            .name{
                font-size: 14px;
            }
            .city{
                color: #999999;
                font-weight: initial;
            }
        }
    }
    }
    .post-review{
        .post-description{
            font-size: 14px;
            font-weight: bolder;
            font-family: inherit;
        }
        .btn.btn-danger{
            background: #31b19a;
            border-color: #31b19a;
            &:focus{
            box-shadow: 0 0 0 3px rgba(0,123,255,.25);
            }
        }
    }
    .btn-joined {
        text-align : center;
        margin: 30px auto;
        .btn-join {
            background-color: #46b9a4;
            color: #fff;
            padding: 15px 30px;
        }
    }

}
/*END*/

body{
	color: #43505b;
}
.title{
    padding: 50px 0;
    font-weight: 900;
    text-align: center
}
.btn.btn-danger{
	color: #fff;
    padding: 5px 20px;
    background: #ed4e6e;
}

/*Styling Type 1*/
#type-1{
    height: auto;
    background: #fff;
    padding: 20px 0px 20px;
    z-index: 5;
    position: relative;
    /*text-align:center;*/
}
#type-1 .title {
    text-align: center;
}
#type-1 .item{
    padding: 30px;
}
#type-1 .item-icon{
    margin-bottom: 15px;
}
#type-1 .item-title{
    font-family: 'Lato', sans-serif;
    margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}
#type-1 p{
    font-family: 'lato', sans-serif;
  font-size: 15px;
}

@media(max-width: 1024px){
    #type-1 .item{
        padding: 15px;
    }
    #type-1 .item-icon{
        margin-bottom: 15px;
    }
    #type-1 .item-title{
        font-family: 'lato', sans-serif;
        margin-top: 0;
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 500;

    }
    #type-1 p{
        font-family: 'lato', sans-serif;
      font-size: 13px;
    }

}

@media(max-width: 768px){
    #type-1{
        height: auto;
        background: #fff;
        color: #333;
        padding: 20px 0px 20px;
        z-index: 5;
        position: relative;
        /*text-align:center;*/
    }

    #type-1 .item{
        padding: 0px;
    }
    #type-1 .item-icon{
        margin-bottom: 10px;
        width: 50%;
        height: auto;
    }
    #type-1 .item-title{
        font-family: 'lato', sans-serif;
        margin-top: 0;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 500;

    }
    #type-1 p{
        font-family: 'lato', sans-serif;
      font-size: 12px;
    }

}

@media(max-width: 425px){
    #type-1{
        height: auto;
        background: #fff;
        color: #333;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 5;
        position: relative;
        text-align:center;
    }

    #type-1 .item{
        padding: 0px;
        margin-bottom: 40px;
    }
    #type-1 .item-icon{
        margin-bottom: 10px;
        width: 165px;
        height: auto;
    }
    #type-1 .item-title{
        font-family: 'lato', sans-serif;
        margin-top: 0;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 500;

    }
    #type-1 p{
        font-family: 'lato', sans-serif;
      font-size: 15px;
    }

}

/*End Styling*/

/*Styling Type 4*/
#type-4{
    padding: 40px 0px 30px;
    background-color: #f7f9fa;
}
#type-4 a{
    color: #c4ccd4;
    font-weight: 500;
    font-size: 12px;
}

#type-4 .title h2 {
    font-weight: 600;
}
#type-4 .card .img {
    background-size: cover !important;
    height:135px;
}

#type-4 a:hover{
    color: rgba(51, 51, 51, 0.61);
    text-decoration: none;
    font-weight: bold;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#type-4 .card{
    width: 22%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 2px 2px rgba(49, 49, 49, 0.37);
}

#type-4 .fix-bottom{
    position: absolute;
    bottom: 0;
}
#type-4 .card-title{
    font-size: 20px;
}

#type-4 .card-body{
    padding-top: 20px;
}

#type-4 .card-body .card-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #45525e;
    padding: 0px 0px 20px;
    min-height: 150px;

}
#type-4 .line{
    font-weight: 600;
    color: rgba(51, 51, 51, 0.85);
    font-family: 'Lato', sans-serif;

}

@media(max-width: 940px){
    #type-4 .card {
        width: 45%;
    }
}

@media(max-width: 768px){
/*  #type-4 a{
    color: #c4ccd4;
    font-weight: bold;
}*/

#type-4 a:hover{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    }
}
@media(max-width: 500px){
    #type-4 .card {
        width: 85%;
    }
}
/*END*/
#type-11{
  background-color: #fff;
  height: auto;
  /*padding-top: 20px;*/
  padding-bottom: 20px;

}
#type-11 .post-slide{
    padding: 0 10px;
    transform: translateY(0);
    transition: all 0.30s ease 0s;
    box-shadow: 0px 0px 5px -1px;
    padding: 0;
    border-radius: 3px;
    margin-bottom: 15px;
}
#type-11 .post-slide:hover{
    /*transform: translateY(-10px);*/
}
#type-11 .post-slide .post-img {
    position: relative;
    height: 100px;
    background-size: cover !important;
}
#type-11 .post-slide .post-img img{
    width: 100%;
    height: auto;
}
#type-11 .post-slide .post-img:after{
    /*content: "";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(to left, rgba(210, 130, 19,0.7) , rgba(170, 55, 114,0.7));
    transform:translateY(-100%);
    transition:  all 0.30s ease 0s;*/
}
#type-11 .post-slide:hover .post-img:after{
    /*transform:translateY(0);*/
}
#type-11 .post-slide .post-img:before{
   /* content: "\f002";
    font-family: 'FontAwesome';
    width: 100%;
    height: 100%;
    text-align:center;
    position:absolute;
    top:-50%;
    font-size:30px;
    color:#fff;
    transition: all 0.50s ease 0s;
    z-index: 1;*/
}
#type-11 .post-slide:hover .post-img:before{
    /*top:40%;*/
}
#type-11 .post-slide .wrap-icons{
    border-bottom: 1px solid #ededed;
    padding: 0 20px;
}
#type-11 .post-slide .wrap-icons .left-icon{
	width: 80px;
	float: left;
	top: -35px;
    position: relative;
}
#type-11 .post-slide .wrap-icons .left-icon span{
    left: 10px;
    position: relative;
}
#type-11 .post-slide .wrap-icons .icons-text{
   margin-left: 90px;
   min-height: 85px;
   padding: 4px 0 10px;
}
#type-11 .post-slide .wrap-icons .icons-text p{
	margin-bottom: initial;
   font-weight: bolder;
}
#type-11 .post-slide .wrap-icons .icons-text .name{
	font-size: 21px;
}
#type-11 .post-slide .wrap-icons .icons-text .city{
	font-size: 13px;
   color: #5b5b5b;

}
#type-11 .post-slide .wrap-icons .icons-text .skill{
	color: #5f93f0;
	margin-top: 10px;
    line-height: 35px;
}
#type-11 .post-slide .icons{
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 5px;
	overflow: hidden;
	z-index: 1;
	border: 7px solid #fff;
}
#type-11 .post-slide .icons img{
    width: 100%;
    height: auto;
}
#type-11 .post-slide .post-review{
    /*border:1px solid #9c4a6c;*/
    border-top: none;
    padding: 35px 20px 25px;
    background: #fff;
    position:relative;
    padding: 20px;
    min-height: 113px;
}
#type-11 .post-slide .post-review:after{
  /*  content: "";
    width: 90%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 5%;
    opacity: 0;
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transform: translateY(0);
    transition: all 0.30s ease 0s;*/
}
#type-11 .post-slide:hover .post-review:after{
    /*opacity: 1;*/
    /*transform: translateY(5px);*/
}
#type-11 .post-slide .post-bar{
    padding: 0;
    list-style: none;
}
#type-11 .post-slide .post-bar li{
    display:inline-block;
    font-size:16px;
    font-family: serif,Arial;
    color:#555;
    margin-right:10px;
    text-transform: capitalize;
}
#type-11 .post-slide .post-bar li i{
    color:#9c4a6c;
    margin-right:8px;
}
#type-11 .post-slide .post-title{
    margin:0 0 20px 0;
    color:#555;
    font-weight:bold;
    font-size:18px;
}
#type-11 .post-slide .post-description{
    font-size:15px;
    line-height:25px;
    font-family: arial;
}
#type-11 .post-slide .read{
    text-transform: capitalize;
    font-size:15px;
    color:#9c4a6c;
}
#type-11 .post-slide .read i{
    margin-left:10px;
}
#type-11 .post-slide .read:hover{
    /*text-decoration:none;*/
    /*color:#333;*/
}
/*End*/


/*Styling type 3*/
#type-3{
    font-family: 'lato', sans-serif;
    height: auto;
    background-color: #fff;
    padding: 30px 0px 30px; 
}

#type-3 .big-title{
    
}
#type-3 .logo {
    text-align: center;
    margin-top: 30px;
}

#type-3 .item{
    /*margin: 40px auto;*/
/*    margin-top: 40px;
    margin-left: 23px;*/
}

#type-3 .item .partners-logo {
    width: 130px;
    /*width: 100%;*/
    /*height: 40px;*/
    position: relative;
    bottom: 5px;
}
#type-3 .logo:last-child .item .partners-logo {
    /*width: 130px;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*position: relative;*/
    bottom: 20px;
}

#type-3 .item p{
    color: #939393;
    font-weight: 500;
    font-family: 'lato', sans-serif;
}

#type-3 .big-title h3{
    font-weight: bold;
    font-size: 20px; 
    color: #fff;
    margin-left: 23px;
}

#type-3 .title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-left: 10px;
    color: #fff;
}

#type-3 .fa-size{
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}

#type-3 .description{
    font-size: 17px;
    margin-left: 0px;
    line-height: 20px;
}


@media(max-width: 1024px){

    #type-3 .item{
        margin-top: 40px;
        margin-left: 0px;
    }

    #type-3 .big-title h3{
        font-weight: bold;
        font-size: 20px; 
        color: #fff;
    }

    #type-3 .title{
        font-family: 'lato', sans-serif;
        font-size: 25px;
        margin-left: 10px;
        color: #fff;
    }

    #type-3 .fa-size{
        font-size: 25px;
        color: #fff;
        margin-bottom: 20px;
    }

    #type-3 .description{
        font-size: 17px;
        margin-left: 0px;
        line-height: 20px;
    }

}

@media(max-width: 991px){
    #type-3{
        font-family: 'lato', sans-serif;
        height: auto;
        background-color: #fff; 
    }

    #type-3 .big-title{
        
    }

    #type-3 .item{
        margin-top: 0px;
        margin-left: 0px;
    }
    #type-3 .logo:first-child .item{
        margin-top: 40px;
        margin-left: 0px;
    }

    #type-3 .big-title h3{
        font-weight: bold;
        font-size: 20px; 
        color: #fff;
    }

    #type-3 .title{
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        margin-left: 10px;
        color: #fff;
    }

    #type-3 .fa-size{
        font-size: 25px;
        color: #fff;
        margin-bottom: 20px;
    }

    #type-3 .description{
        font-size: 17px;
        margin-left: 0px;
        line-height: 20px;
    }

}

@media(max-width: 768px){
    #type-3 .big-title h3{
        font-weight: bold;
        font-size: 25px; 
        color: #fff;
        margin-left: 20px;
    }

    #type-3 .title{
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        margin-left: 10px;
        color: #fff;
    }

    #type-3 .fa-size{
        font-size: 25px;
        color: #fff;
        margin-bottom: 20px;
    }

    #type-3 .description{
        font-size: 17px;
        line-height: 20px;
        margin-left: 0px;
    }

}
@media(max-width: 767px){
    #type-3 .item .partners-logo {
        width: auto;
    }
    #type-3 .logo:first-child {
        margin-top: 0px;
    }
}

@media(max-width: 575px){
    #type-3 .item p {
        text-align: center;
    }
    #type-3 .item {
        padding: 0px 100px;
        text-align: center;
    }
    #type-3 .item img {
        height: auto;
        width: auto;
    }
}

@media(max-width: 425px){
    #type-3 .big-title h3{
        font-size: 20px; 
        color: #fff;
    }

    #type-3 .title{
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        margin-left: 10px;
        color: #fff;
    }

    #type-3 .fa-size{
        font-size: 25px;
        color: #fff;
        margin-bottom: 20px;
    }

    #type-3 .description{
        font-size: 17px;
        margin-left: 0px;
        line-height: 20px;
    }
    #type-3 .item {
        padding: 0px 50px;
        text-align: center;
    }
    #type-3 .item .partners-logo {
        width: auto;
    }
}

@media(max-width: 375px){
    #type-3 .big-title h3{
        font-size: 18px; 
        color: #fff;
    }

    #type-3 .fa-size{
        font-size: 20px;
        color: #fff;
        margin-bottom: 10px;
    }
    #type-3 .description{
        font-size: 15px;
        margin-left: 0px;
        line-height: 15px;
    }
    #type-3 .item{
        margin-top: 20px;
        padding: 0px;
    }
}
@media(max-width: 320px){
    #type-3 .big-title h3{
        font-size: 15px; 
        color: #fff;
    }

    #type-3 .title{
        font-size: 15px;
    }

    #type-3 .fa-size{
        font-size: 15px;
    }
    #type-3 .description{
        font-size: 12px;
    }
}   
/*end Styling*/


/* Styling type-09 */

#type-2{
    background-color: #4a396e;
    height: auto;
    padding-top: 70px;
    padding-bottom: 50px;
}
#type-2 .img-grid {
    margin-right: 30px;
}
#type-2 .line{
    border-right: 1px solid white;
    height: 50%;
}
/*#type-2 .line:after {
    border-right: 1px solid white;
    height: 50%;
}*/
/*#type-2 img{
    width: 100px;
    height: auto; 
}*/

#type-2 .red-mark{
    color: #ff0055;
}

#type-2 .title{
    color: white;
    padding: 0px;
    text-align: left;

}
#type-2 .title h3 {
    font-size: 20px;
    font-family: 'lato', sans-serif;
    margin-bottom: 15px;
    font-weight: 700;
}

#type-2 .description{
    /*padding-right: 70px;*/
    color: white;
    font-size: 16px;
}
#type-2 .description p {
    font-size: 14px;
    font-family: 'lato', sans-serif;
    color: #d7d3df;
    font-weight: 600;
}
 #type-2 .icon{
    padding-left: 10px;
 }


@media(max-width: 1024px){
  #type-2 .title h3{
    font-size: 20px;
  }

  #type-2 img{
    width: 80px; 
  }

  #type-2 .description{
    padding-right: 50px;
    font-size: 15px;
  }
}

@media(max-width: 991px){
    /*#type-2 .img-grid {
        margin-right: 25px;
    }*/
    #type-2 .container {
        max-width: 840px;
    }
    #type-2 .title h3 {
        font-size: 18px;
    }
}

@media(max-width: 768px){
  #type-2 .title h3{
    font-size: 17px;
  }

  #type-2 img{
    width: 60px; 
  }

  #type-2 .description{
    padding-right: 20px;
    font-size: 13px;
  }
}

@media(max-width: 767px){
    #type-2 .line {
        border-right: none;
    }
    #type-2 .img-grid {
        text-align: center;
        margin-right: 0px;
    }
}
@media(max-width: 575px){
    #type-2 .img-grid {
        margin-bottom: 25px;
    }   
    #type-2 .title, #type-2 .description {
        text-align: center;
    }
    #type-2 .line {
        margin-bottom: 30px;
    }
}
@media(max-width: 425px){
  #type-2{
    padding-top: 20px;
  }


  #type-2 .title h3{
    text-align: center; 
    font-size: 20px;
  }

  #type-2 img{
    width: 80px;
    padding-top: 30px;
  }

  #type-2 .col-md-2{
    text-align: center;
  }

  #type-2 .description{
    text-align: center;
    font-size: 15px;
  }

  #type-2 .line{
    border-right: none;
  }
}


/* Style type-09 */
#type-09 {
    background-color: #f7f9fa;
    padding: 50px 0px;
    .group-img:first-child {
        margin-bottom: 30px;
    }
    .title-page {
        text-align: center;
        h4 {
            color: #444444;
            font-family: 'lato', sans-serif;
            font-weight: 800;
        }
        p {
            font-family: 'lato', sans-serif;
            margin: 25px 190px;
            font-weight: 500;
        }
    }
    .card-boxs {
        .img-card  {
            img {
                width: 100%;
            }
        }
        .line-title {
            text-align: center;
            color: #fff;
            width: 100%;
            font-family: 'lato', sans-serif;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            a  {
                font-size: 20px;
                padding: 10px;
                width: 100%;
                font-weight: 600;
                font-family: 'lato', sans-serif;
                color: #fff;
            }
            a:hover {
                background: rgba(49, 37, 37, 0.43);
            }
        }
    }
    .line-foot-1:nth-child(1) {
        .line-title{
            background-color: #cb4bae;
        }
    }
    .line-foot-1:nth-child(2) {
        .line-title{
            background-color: #4a396e;
        }
    }
    .line-foot-1:nth-child(3) {
        .line-title{
            background-color: #ed734e;
        }
    }
    .line-foot-1:nth-child(4) {
        .line-title{
            background-color: #1ab26a;
        }
    }
    .line-foot-2:nth-child(1) {
        .line-title{
            background-color: #1ab26a;
        }
    }
    .line-foot-2:nth-child(2) {
        .line-title{
            background-color: #ed734e;
        }
    }
    .line-foot-2:nth-child(3) {
        .line-title{
            background-color: #4a396e;
        }
    }
    .line-foot-2:nth-child(4) {
        .line-title{
            background-color: #cb4bae;
        }
    }
    .link-job {
        text-align: center;
        margin-top: 40px;
        .btn-link {
            border: 1px solid #31b19a;
            padding: 12px 45px;
            font-family: 'lato', sans-serif;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            background-color: #31b19a;
            border-radius: 5px;
        }
    }
}
@media(max-width: 1024px){
    #type-09 .card-boxs h5 {
        font-size: 16px;
    }
}
@media(max-width: 768px){
    #type-09 .title-page p {
        margin: 25px 0px;
    }
}
@media(max-width: 767px){
    #type-09 .card-boxs h5 {
        font-size: 16px;
    }
}
