<footer>
<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<img src="/assets/new/ZippyCrowd2.png" alt="">
			<div class="copy">&copy; ZippyCrowd 2017</div>
		</div>
		<div class="col-sm-10">
			<ul>
				<li>Company</li>
				<li><a href="#x">About Us</a></li>
				<li><a href="#x">Contact Us</a></li>
				<li><a href="#x">Terms</a></li>
				<li><a href="#x">Privacy</a></li>
				<li><a href="#x">Blog</a></li>
				<li><a href="#x">ZippyCrowd for business</a></li>
			</ul>
			<ul>
				<li>Company</li>
				<li><a href="#x">About Us</a></li>
				<li><a href="#x">Contact Us</a></li>
				<li><a href="#x">Terms</a></li>
				<li><a href="#x">Privacy</a></li>
				<li><a href="#x">Blog</a></li>
				<li><a href="#x">ZippyCrowd for business</a></li>
			</ul>
			<ul>
				<li>Company</li>
				<li><a href="#x">About Us</a></li>
				<li><a href="#x">Contact Us</a></li>
				<li><a href="#x">Terms</a></li>
				<li><a href="#x">Privacy</a></li>
				<li><a href="#x">Blog</a></li>
				<li><a href="#x">ZippyCrowd for business</a></li>
			</ul>
			<ul>
				<li>Company</li>
				<li><a href="#x">About Us</a></li>
				<li><a href="#x">Contact Us</a></li>
				<li><a href="#x">Terms</a></li>
				<li><a href="#x">Privacy</a></li>
				<li><a href="#x">Blog</a></li>
				<li><a href="#x">ZippyCrowd for business</a></li>
			</ul>
			<ul>
				<li>Company</li>
				<li><a href="#x">About Us</a></li>
				<li><a href="#x">Contact Us</a></li>
				<li><a href="#x">Terms</a></li>
				<li><a href="#x">Privacy</a></li>
				<li><a href="#x">Blog</a></li>
				<li><a href="#x">ZippyCrowd for business</a></li>
			</ul>
		</div>
	</div>
</div>
</footer>