<nav class="navbar navbar-expand-md navbar-dark fixed-top">
<div class="container">
  
  <a class="navbar-brand" href="#"><img src="/assets/new/ZippyCrowd.png"  alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-js" aria-controls="navbar-js" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-js">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link btn btn-danger" href="#">Post a Job <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
      <li class="nav-item"><a class="nav-link btn btn-outline-primary" href="#">Join</a></li>
    </ul>
  </div>
</div>
</nav>